body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

  
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
  text-transform: uppercase;
}
  
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

  
  input, select, button {
    margin: 5px;
    padding: 5px;    
  }
  
  input:focus, select:focus, button:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  